h1 {
  text-align: center;
  font-weight: 700;
  text-decoration: black underline double;
  font-family: Verdana;
  text-transform: uppercase;
  letter-spacing: 20px;
}

h2 {
  color: blue;
  font-family: futura;
}
h3 {
}
h4 {
}
h5 {
  font-weight: bold;
}
h6 {
  font-weight: bold;
  font-family: fantasy;
}
button {
  color: magenta;
  background-color: black;
}

p {
  line-height: 2;
}
