h1 {
  text-align: center;
  font-weight: 700;
  text-decoration: black underline double;
}

h2 {
  color: blue;
}
h3 {
}
h4 {
}
h5 {
  font-weight: bold;
}
h6 {
  font-weight: 700;
}
button {
  color: magenta;
  background-color: black;
}

p {
  line-height: 2;
}
